 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  background-color: #4040a1 !important;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  color: white;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.list-group-flush .list-group-item {
  color: white;
  background-color: #4040a1 !important;
}

#page-content-wrapper {
  min-width: 100vw;
}

#post-login{
  /*width:800px !important; /*change the value to suite ur need*/
  margin:0 auto; /*this will center ur content*/
}

#pre-login{
  width:800px !important; /*change the value to suite ur need*/
  margin:0 auto; /*this will center ur content*/
}

nav .navbar-nav li a{
  color: white !important;
}

nav .navbar-nav .dropdown-menu a{
  color: black !important;
}

#navbarMain {
  background-color: #80ced6 !important;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

header > h5 { display: inline-block; }

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
