{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">View a breakdown of your financial dashboard!</h1>
        <p class="lead">This section visualises your financial situation via charts and graphs and allows you to
        bring life to the way you monitor your finances.</p>
    </div>
</div>

<!-- Cards detailing percentage drops in income -->
<div class="row">
          <div class="col-md-3 mb-3">
            <div class="card border-success h-100">
                <div class="card-header">Taxes, NI Contribution and Student Debt Effect</div>
                <div class="card-body text-success py-5">{{c1}}</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card border-danger h-100">
                <div class="card-header">Expenses Effect</div>
                <div class="card-body text-danger py-5">{{c2}}</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card border-success h-100">
                <div class="card-header">Lifestyle and Saving Effect</div>
                <div class="card-body text-success py-5">{{c3}}</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card border-warning h-100">
                <div class="card-header">Student Debt Effect</div>
                <div class="card-body text-warning py-5">{{c4}}</div>
            </div>
          </div>
</div>


<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card h-100">
          <div class="card-body">
              <h5 class="card-title text-dark" style="text-align:center">Income Breakdown Pie Chart</h5>
              <div id="chart" class="chart"></div>
          </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="card h-100">
          <div class="card-body">
              <h5 class="card-title text-dark" style="text-align:center">Your Money Funnel</h5>
              <div id="chart2" class="chart"></div>
          </div>
        </div>

    </div>

</div>


<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card h-100">
          <div class="card-body">
              <h5 class="card-title text-dark" style="text-align:center">Impact of Compounding on your {{name_of_goal}} Financial Goal</h5>
              <div id="chart3" class="chart"></div>
          </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card h-100">
            <div class="card-header">Placeholder title</div>
            <div class="card-body py-5">Placeholder text</div>
        </div>
    </div>
</div>




<script>
    d = {{ graphJSON | safe }};
    //d.config={staticPlot: true};
    Plotly.newPlot('chart', d, {});
</script>

<script>
    d = {{ graphJSON2 | safe }};
    //d.config={staticPlot: true};
    Plotly.newPlot('chart2', d, {});
</script>

<script>
    d = {{ graphJSON3 | safe }};
    //d.config={staticPlot: true};
    Plotly.newPlot('chart3', d, {});
</script>

{% endblock %}