{% extends "prelogin_base.html" %}

{% block content %}

<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Account Setup</legend>
        <div class="form-group">
            <header>
              <h5>General</h5>
            </header>
            {{ form.gross_salary.label(class="form-control-label") }}
            {% if form.gross_salary.errors %}
                {{ form.gross_salary(class="form-control form-control-sm is-invalid") }}
                <div class="invalid feedback">
                    {% for error in form.gross_salary.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.gross_salary(class="form-control form-control-sm") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.student_plan.label(class="form-control-label") }}
            {% if form.student_plan.errors %}
                {{ form.student_plan(class="form-control form-control-sm is-invalid") }}
                <div class="invalid feedback">
                    {% for error in form.student_plan.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.student_plan(class="form-control form-control-sm") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.pension_contribution.label(class="form-control-label") }}
            {% if form.pension_contribution.errors %}
                {{ form.pension_contribution(class="form-control form-control-sm is-invalid") }}
                <div class="invalid feedback">
                    {% for error in form.pension_contribution.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.pension_contribution(class="form-control form-control-sm") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.saving_percentage.label(class="form-control-label") }}
            {% if form.saving_percentage.errors %}
                {{ form.saving_percentage(class="form-control form-control-sm is-invalid") }}
                <div class="invalid feedback">
                    {% for error in form.saving_percentage.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.saving_percentage(class="form-control form-control-sm") }}
            {% endif %}
        </div>
        <div class="form-group">
            <header>
              <h5>Fixed Costs</h5>
              <span>(give one example - you will have the chance to add more later)</span>
            </header>
            {% for object in form.fixed_costs %}
                {{ object.form.name.label(class="form-control-label") }}
                {% if object.form.name.errors %}
                    {{ object.form.name(class="form-control form-control-sm is-invalid") }}
                    <div class="invalid feedback">
                        {% for error in object.form.name.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ object.form.name(class="form-control form-control-sm") }}
                {% endif %}

                {{ object.form.amount.label(class="form-control-label") }}
                {% if object.form.amount.errors %}
                    {{ object.form.amount(class="form-control form-control-sm is-invalid") }}
                    <div class="invalid feedback">
                        {% for error in object.form.amount.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ object.form.amount(class="form-control form-control-sm") }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="form-group">
            <header>
              <h5>Financial Goals</h5>
              <span>(give one example - you will have the chance to add more later)</span>
            </header>
            {% for object in form.goals %}
                {{ object.form.name.label(class="form-control-label") }}
                {% if object.form.name.errors %}
                    {{ object.form.name(class="form-control form-control-sm is-invalid") }}
                    <div class="invalid feedback">
                        {% for error in object.form.name.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ object.form.name(class="form-control form-control-sm") }}
                {% endif %}

                {{ object.form.amount.label(class="form-control-label") }}
                {% if object.form.amount.errors %}
                    {{ object.form.amount(class="form-control form-control-sm is-invalid") }}
                    <div class="invalid feedback">
                        {% for error in object.form.amount.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ object.form.amount(class="form-control form-control-sm") }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </fieldset>
</form>

{% endblock %}